@media (min-width: 540px) {

      
    .products {
        width: 700px;
        height: 700px;
        margin-bottom: -200px;
    }
    #stats{
        height: 800px;
        padding-top: 200px;
    }
    #motto-text{
        font-size: 3.5rem;
    }

}
body {
    background: url(../img/manek-singh-sEhsf9VisOI-unsplash.jpg) no-repeat center center fixed !important;  
              -webkit-background-size: cover !important;
              -moz-background-size: cover !important;
              -o-background-size: cover !important;
              background-size: cover !important;
    background-color: #262626 !important;
    background-blend-mode: overlay !important;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.w-40{
  width: 40% !important;
}

.block{
            background-color: #151515;
        }

.accordion{
  border-radius: 3rem;
}

.accordion{
  width: 90%;
}

.accordion-button, .accordion-button-collapsed, .accordion-button:focus, .accordion-collapse{
  background-color: #403b3a;
  color: white;
}

.navbar a:any-link, .nav-item .nav-link {
            
            color: white;
            
        }
#brand:hover {
    background-color: white;
    border: 1px solid black;
}
.motto{
    height: 60%;
    text-align: center;
    padding-top: 14%;
    background: none;
    letter-spacing: 2px;
    
}

.home {
    background: none;
    height: 93vh;
    padding: 0 0;
}

#top, #top .navbar{
    background: none;
}

#short-signup {
    border-bottom: 1px solid white;
}
.navbar-light .navbar-toggler {
    border-color: white;
}
.contact {
    text-align: center;
    margin-bottom: -10px;
}

.card, .card-title a:any-link{
    color: white;
    text-decoration: none;
}
.contact-card {
    background-color: #151515;
}
.contact-icon {
    width: 50px;
    height: 50px;
}
.products img {
    margin: 0 auto;
}
.lead1 {
    text-align: center;
}
#brand{
    font-size: 35px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: 0px;
}
#brand{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#brand:before,
#brand:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

#brand:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.stat-card {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}
@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#brand:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
